# --- C++ / Interpreter ---
interpreter/*/main.o
interpreter/*/parser/*.o
interpreter/*/parser/*.interp
interpreter/*/parser/*.tokens
interpreter/*/*.o
interpreter/*/verbose_lang

# Caso você gere arquivos binários ou de build em outras pastas:
build/
bin/
*.exe
*.out

# --- VS Code / Node / Extensão ---
node_modules/
vlext/node_modules/
*.vsix
.vscode-test/
.DS_Store

# arquivos ocultos
*/.*
*/.*/*
.*